<style>
      table {
  border: 1px solid #FF4000;
  width: 50%;
}

th {
  background: #FF4000;
  font-weight: bold;
  padding: 2px;
}

.error {
  color: orange;
  font-family: verdana, Helvetica;
}
    </style>